body{
    font-size: 14px !important;
    font-weight: 100 !important;
    margin: 80px;
    background-color: #eee;
}
h1{
    font-weight: 100 !important;
}
th{
    font-size: .5em !important;
    font-weight: 300 !important;
    text-align: left !important;
    padding: 3px;
}
.container{
    padding: 80px 80px;
    background-color: #fff;
}
.row{
}
.naslov{
    color: red;
    padding-bottom: 20px;
}